/* Answer choices */
#options>div {
  border:3px black solid;
  padding:10px;
  background:rgba(0,0,0,.7);
  color: white;
  width:100px;
  margin-bottom: 10px;

}
/* Quiz Question */
#question {
  font-size: 2em;
  margin-bottom: 20px;
  border-bottom:1px black solid;
}

#timer {
  font-size: 2em;
  margin-bottom:20px;
}

#scoreHeading {
  border-top: 1px black solid;
}
